[Unit]
Description=TimeOfFlight (TOF) Sensor Service
After=network.target

[Service]
User=user
Group=user
WorkingDirectory=/home/user/FRC-2025/vision
ExecStart=/home/user/env3.11/bin/python -m tof --stdout --serve
Restart=on-failure
RestartSec=5s

# Send stdout/stderr to the journal
StandardOutput=journal
StandardError=journal

# Add these lines to grant thread priority capabilities
AmbientCapabilities=CAP_SYS_NICE
CapabilityBoundingSet=CAP_SYS_NICE

[Install]
WantedBy=multi-user.target
